.home-page {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: black; /* Black background for the home page */
  padding: 20px;
  height: 100%;
  overflow: auto;
}

.toy-container {
  display: flex;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex: 1;
}

.toy-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color: #3e2b1f; /* Dark brown grid background */
  padding: 20px;
}
