.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 20px;
}

.logo img {
  width: 50px;
  height: auto;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: #d2a675;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #d2a675; /* light brown */
}

.login-signup {
  background-color: #d2a675; /* light brown */
  color: black;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
}

.login-signup:hover {
  background-color: #b17d56; /* darker brown for hover effect */
}
